<body>
    <div class="title">
        신이 <%= @name %>를 만들때...
    </div>
    <div class="h1">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRnltV-TziOGbdsFrXXsbnl651mEO17nXzKMTUtXt0GwU87uwBB7g"/>
        <%= @result[0] %> <%= @spoon[0] %>스푼
    </div>
    <div class="h2">
        <img src="http://blog-imgs-63.fc2.com/m/u/d/muddlenews/20140430233604044.jpg"/>
        <%= @result[1] %> <%= @spoon[1] %>스푼
    </div>
    <div class="h3">
        <img src="https://i0.wp.com/www.applealmond.com/uploads/1/7/2/7/17278198/4240051_orig.png"/>
    <%= @result[2] %> 우아아아ㅏㅏㅏ앙
    </div>
</body>

<style>
    body{margin:0;}
    .title{text-align:center; font-size:50px; font-family:serif;}
    img{width:200px; height:200px; padding:50px;}
</style>